Datos/ecommerce.db
Notebooks/minicubo.pickle
Introducción a los sistemas de recomendación.pdf
Notebooks/df.pickle
Notebooks/Desarrollo VSC.ipynb
Notebooks/clientes.pickle
Notebooks/.ipynb_checkpoints/01_Diseño del proyecto-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/02_Creacion del Datamart Analitico-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/03_Analisis e Insights (Parte I)-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Desarrollo-checkpoint.ipynb
